html, body {
	margin: 0;
	padding: 0;
	font-family: Trebuchet MS;
}


/*Общие свойства для всего документа*/
a {
	text-decoration: none;
}
.redColorText {
	color: red;
}

.orangeBGColor {
    background-color: #ffbf26;
}
.orangeBGImg {
    background: 50% 50% url(img/orangeBackground.png) repeat;
}

.orangeColorText {
	color: #ffbf26;
}


/*Свойства #header'a и всего, что внутри него*/
#header {
	position: relative;
	width: 100%;
}
/*TODO .topstr -> #header > .top */
.topstr {
	font-size: 0.7em;
	padding: 0.5% 17% 0.5% 13%;/*TODO лучше все задавать в em. Проценты очень опасная вещь. Нужно очень хорошо понимать от чего эти проценты берутся.*/
}
/*TODO .rightHalf -> #header > .top > .right */
.rightHalf {
	float: right;
	margin-right: 10em;
}
.rightHalf a {
	color: black;
	padding: 1em;
	text-decoration: underline;
}
.inCart {
	position: absolute;
	background: #ffbf26;
	display: inline-block;
	height: 2.55em;
	margin-left: 5em;
}
.inCart img {
	float: left;
}
.inCart span {
	font-weight: 700;
	font-size: 1.3em;
}
.inCart:before {
	content: " ";
	height: 2em;
	width: 1.5em;
	position: absolute;
	top: 1.45em;
	left: -1em;
	background: url(attemptSolution.png);
}
.triangle {
	position: absolute;
	width: 0;
	height: 0;
	border-width: 0.7em 0.35em  0  0.35em  ;
	border-color: gray #ffbf26;
	border-style: solid;
	right: -1.7em;
	top: 1em;
}
.title {
	height: 5.7em;
	color: white;
	font-weight: 700;
	font-size: 1.2em;
	width: 80%;
	background: url(img/darkBackground.png);
	padding: 2% 8% 0 12%;
}
.logo {
	width: 30.15em;
	height: 3em;
}
.logo img {
	float: left;
	padding-right: 3em;
}
.logo span {
	font-size: 0.6em;
	float: right;
	font-weight: 300;
	text-decoration: underline;
}
.topMenu {
	list-style-type: none;
	background: white;
	font-weight: 700;
	border-radius: 0.4em;
	padding: 0.5em 0;
	width: 34em;
	font-size: 0.75em;
	text-align: center;
	margin: 1em 0 0 0;
	float: left;
}
.topMenu a {
		color: black;
}
.topMenu li {
	display: inline;
	padding: 0.7em;
}
.search {
	width: 10.5em;
	border: 1px solid red;
	display: inline;
	float: left;
	margin: 1em 0 0 1em;
}
input[type="search"] {
	border: none;
	outline: none;
	-webkit-appearance: none;
	width: 12em;
	vertical-align: middle;
}
input[type="submit"] {
	width: 1.25em;
	height: 1.25em;
	border: none;
	background: url(img/search2.png) no-repeat;
	padding: 0;
}
.rightInscription {
	right: 10em;
	top: 5em;
	font-size: 0.8em;
	width: 10em;
	font-weight: 500;
	position: absolute;
}
.orangeBackground {
	width: 100%;
	height: 8em;
	z-index: -5;
}
.companyMobilePhones {
	margin: 0 12%;
	width: 80%;
	height: 1.7em;
	text-align: center;
	padding: 2em 0;
}
.whiteHalf {
	padding: 0.5em;
	background: white;
	width: 71%;
	height: 2.6em;
	float: left;
	box-shadow: 0.5em 0 0 0;
	border-radius: 0.4em 0 0 0.4em;
}
.whiteHalf img {
	padding: 0 0.8em;
}
.grayHalf {
	padding: 0.5em 1em 1.5em 1em;
	border-radius: 0 0.4em 0.4em 0;
	width: 21%;
	background: gray;
	color: white;
	float: right;
	margin-right: 2.05em;
	height: 1.7em;

}
 .grayHalf img {
 	float: left;
}
.grayHalf span {
	display: inline-block;
	margin: 0.5em 0;
} 
#content {
	margin: 0 8.5em 0 11.5em;
	margin-top: -0.5em;
	z-index: 100;
}

.sidebarInDiv {
	position: absolute;
	
	height: 20em;	
}

.sidebar {
	float: left;
	border-collapse: collapse;
	padding: 0;
	width: 14em;
}

.sidebar th {
	text-align: left;
	font-size: 1.2em;
	background: black;
	font-weight: 200;
	border-radius: 0.2em 0.2em 0 0;
}
.sidebar th a {
	color:  white;
}
.sidebar td, .sidebar th {
	padding: 0.5em;
}
.sidebar td {
	border: 0.05em solid gray;
	height: 1.4em;
}
.sidebar td:hover, .lastCell a:hover {
	background: gray;
}
.sidebar td a {
	color: black;
}
.lastCell {
	position: absolute;
	bottom: 0;
	float: left;
	border: red;
	
}
.lastCell a {
	padding: 0.5em;
	display: block;
	width: 12.9em;
	color: black;
	border: 0.05em solid gray;
	border-radius: 0 0 0.5em 0.5em;
	border-top: none;
}

.centralAction {
	position: relative;
	border-radius: 0.4em;
	background: url(img/phoneInHands.jpg);
	width: 44em;
	height: 20em;
	float: right;
}
.mainInscription , .centralAction p {
	position: absolute;
	left: 1em;
}
.centralAction p {
	top: 9em;
	display: block;
	font-size: 1.2em;
	letter-spacing: 0.01em;
}
.mainInscription {
	top: 3em;
	padding: 1em;
	background: orange;
	width: 11em;
	font-weight: 700;
	font-size: 1.3em;
	border-radius: 0.2em;
	
}
.mainInscription span {
	letter-spacing: 0.04em;
	font-size: 1.8em;
}
.deals {
	position: absolute;
	bottom: 0.2em;
	margin: 1em;
}
.deal {
	background: white;
	padding: 0.5em;
	margin: 0 0.5em;
	float: left;
}
.discounts {
	margin: 2em 0 1.2em 1.2em;
	color: white;
	background: black;
	float: right;
	width: 53em;
	font-size: 0.8em;
	padding: 1em;

}
.discounts div {
	display: inline-block;
}
.todaysDeal {
	width: 18em;
	padding-right: 1em; 
	float: right;
}
.todaysDeal img {
	float: left;
	padding: 0 2em;
	border-radius: 0.6em;
}
.noveltyCatalog {
	margin-top: 1.5em;
	padding: 1.6em 0;
	background: black;
	float: left;
	width: 12.7em;
	font-size: 1.1em;
}
.noveltyCatalog a {
	padding: 1em;
}
.listOfNovelties {
	width: 100%;
	padding: 0 2em;
}
.novelty {
	text-align: center;
	width: 10em;
	padding: 0 1.1em;
	float: left;
	font-size: 0.9em;
}
.novelty :first-child {
	height: 3em;
}
.novelty button {
	background: #ffbf26;
	font-size: 0.8em;
	color: white;
	font-weight: 700;
}
.novelty span {
	font-size: 1.8em;
	font-weight: 700;
}
.news {
	width: 34em;
	padding-top: 1em;
	border: 0.05em solid black;
	position: relative;
	margin: 1.2em 0.5em 1.2em 1.2em;
	height: 11.8em;
	display: inline-block;
}
.news b {
	font-size: 1.1em;
}
.news p {
	font-size: 0.75em;
}
.news img {
	float: left;
}
 .inscriptionNews, .more {
	background: black;
	color: white;
}
.inscriptionNews {
	position: absolute;
	padding: 0.6em 1.2em;
	left: 0;
	top: 0;
	text-decoration: underline;
}
.more {
	font-size: 0.9em;
	padding: 0.4em 0.6em;
	margin: 0.3em;
	display: inline-block;
}
.news span {
	float: right;
	font-size: 0.7em;
	color: gray;
	width: 5em;
	padding: 0 0.4em;
	
}
.specialOffer {
	width:22.5em;
	height: 12.8em;
	border: 0.05em solid black;
	float: right;
	margin: 1.2em 0 1.2em 0.3em;
}
.specialOffer div {
	padding: 0.5em 1.6em;
	background: black;
	color: white;
	font-weight: 600;
}
.specialOffer img {
	float: right;
}
.specialOffer p {
	font-size: 0.8em;
	font-weight: 700;
	padding:  0 2em;
	width: 5em;
}
.specialOffer span {
	padding-left: 1.3em;
	font-weight: 600;
	font-size: 1.2em;
}
.specialOffer b {
	padding: 0 0 0 0.8em;
	font-size: 1.6em;
}
.specialOffer a {
	margin-left: 1.7em;
}
#footer {
	padding: 0 8.5em 0 11.5em;
	width: 59em;
	height: 13em;
	background: url(img/darkBackground.png);
}
.bottomMenu {
	float: left;
	width: 26em;
}
.Column {
	float: left;
	padding: 0;
	list-style-type: none;
	font-size: 0.7em;
	width: 11em;
}
.Column a:first-child {
	font-size: 1.2em;
	padding: 0 0 0.5em 0;
	display: block;
}
.Column a {
	color: white;
}
.siteDescription {
	background: black;
	margin: 1em 0;
	color: white;
	width: 32em;
	float: right;
	font-size: 0.8em;
	padding: 0 2em;
	height: 13em;
}
.gender {
	padding: 0.5em 9.5em 0 11.5em;
	background: url(img/orangeBackground.png);
	height: 5em;
	width: 58em;
	display: inline-block;
}
.gender p {
	float: left;
	width: 37em;
	font-size: 0.7em;
}
.topStr {
	font-size: 0.8em;
	float: left;
	width: 18em;
}
.gender a {
	float: right;
	width: 8em;
	font-size: 0.6em;
	color: black;
}